SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
# Set MODE=True to run the app in development mode.
MODE=false
DB_CONNECTION=sqlite
DB_HOST=
DB_PORT=
DB_DATABASE=database.sqlite
DB_USER=
DB_PASSWORD=